@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');


body {
    background-color: white;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* animation start */

@keyframes sliding {
    0% {
        background-color: red;
        left: 0;
        top: 0;

    }

    25% {
        top: -500px;
        background-color: blue;
        transform: scale(0.5);
    }

    50% {
        top: 0;
        background-color: red;
        transform: scale(1);

    }

    75% {
        top: -500px;
        background-color: blue;
        transform: scale(0.5);
    }


    100% {
        background-color: red;
        left: 92%;
        top: 0;
    }

}

.ball {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: red;
    
    border-radius: 50%;
    animation: sliding 3s ease-in-out 0.5s infinite alternate;
    animation-play-state: running;
}

/* animation end */

/* Header Start */

.header-container {
    width: 870px;
    margin: 0 auto;
    background-color: black;
    padding: 20px 30px 0px 30px;
    border-radius: 10px;
    display: flex;
    color: white;
    text-align: justify;
}

.header h1 {
    font-size: 40px;
    line-height: 25px;

}

.header-section {
    margin-top: 36px;

}

.header {
    margin-left: 0px;
}

.header button {
    border: 0;
    background-color: #DD0000;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
}

.fa-arrow-right {
    padding-left: 0.25ch;
}

/* media screen */
@media (max-width: 480px) {
    .header-section {
        width: 80%;
        margin-left: 10px;




    }

    .header-container {
        width: 100%;


        display: inline-block;
        justify-content: center;
        align-items: center;


    }

    .header-container .header {
        font-size: 10px;



    }




}

/* medium device */
@media (min-width: 481px) and (max-width: 767px) {
    .header-section {
        width: 80%;
        margin-left: 10px;

    }

    .header-container {
        width: 100%;


        display: inline-block;
        justify-content: center;
        align-items: center;




    }

    .header-container .header {
        font-size: 10px;

    }


}

/* large device */
@media (min-width: 768px) and (max-width: 1024px) {
    .header-section {
        width: 90%;
        margin-left: 10px;


    }

    .header-container {
        width: 100%;

        margin-right: 30px;
        display: flex;
        justify-content: center;
        align-items: center;





    }

    .header-container .header {
        font-size: 10px;

    }

    .header-container .header h1 {
        line-height: 30px;

    }

}

/* Header Media end */

/* Header End */

/* Latest Section Start****** */


.latest-blog-section {
    width: 100%;

    margin-top: 36px;
    margin-bottom: 30px;
}

.latest-blog-container {
    width: 870px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px 30px;
    border-radius: 5px;
}

.latest-blog {

    display: flex;
    justify-content: center;
    gap: 24px;

}

.menu-container {
    width: 270px;
    height: 245px;
    background: #161616;
    border-radius: 10px;
    display: flex;
    padding: 10px 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 20px;
}

.menu-btn {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 205px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #161616;
}

.menu-btn.special-btn {
    color: #FFFFFF;
    background: #DD0000;
}




.latest-blog-title h3 {
    font-size: 10px;
    font-weight: 700;
    color: #562EFF;
}

.latest-blog-cardbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 53px;

}

.latest-blog-cardbox img {
    width: 60px;
    height: 60px;
    padding-right: 10px;


}

.latest-blog-card-inner {
    padding: 10px 0 20px 10px;
    border: 1px solid gainsboro;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 13px 13px 16px #f7f7f7,
        -13px -13px 16px #ffffff;

}

.latest-blog-card-inner img {
    Width: 234px;
    Height: 114px;
}

.latest-blog-card-inner h1 {
    font-size: 20px;
    font-weight: 500;
}

.latest-blog-card-inner p {
    font-size: 14px;
    font-weight: 400;
    color: #ED6B4F;
    margin-bottom: 20px;
}

.rating-star {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}



.fa-message {
    margin-left: 40px;
    color: #AEAEAE;

}

.fa-message span {
    padding-left: 5px;
    font-size: 13px;
    color: gray;
}


.empty-star {
    color: #AEAEAE;
}

.rate {
    font-size: 14px;
    margin-left: 5px;

    color: #A2A2A2;

}

.rate-btn {
    padding: 3px 10px;

    margin-left: 20px;
}

.rate-btn a {
    color: gray;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.fa-clock {
    font-size: 12px;
    margin-right: 5px;
}

/* small device */
@media (max-width: 480px) {
    .latest-blog-section {
        width: 80%;
    }

    .latest-blog-container {
        width: 100%;
        /* padding: 0; */
        /* margin: 0; */
    }

    .latest-blog {
        display: flex;
        flex-direction: column;

    }

    .menu-container {
        background-color: #fff;

    }

    .menu-btn {
        border: 1px solid gray;
    }

    .latest-blog-cardbox {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 0%;
        margin-left: 40px;
        font-size: 20px;
        padding: 0;

    }
}

/* medium device */
@media (min-width: 481px) and (max-width: 767px) {
    .latest-blog-section {
        width: 80%;
    }

    .latest-blog-container {
        width: 100%;
        margin: 0;
    }

    .latest-blog {
        display: flex;
        flex-direction: column;

    }

    .menu-container {
        background-color: #fff;
    }

    .menu-btn {
        border: 1px solid gray;
    }

    .latest-blog-cardbox {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 0%;
        margin-left: 45px;
        font-size: 20px;

    }

}

/* larger device */
@media (min-width: 768px) and (max-width: 1024px) {
    .latest-blog-section {
        width: 80%;
    }

    .latest-blog-container {
        width: 100%;
        margin: 0;
    }

    .latest-blog {
        display: flex;
        flex-direction: column;

    }

    .menu-container {
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin-left: 30px;


    }

    .menu-btn {
        border: 1px solid gray;
        padding: 3px 50px;
    }

    .latest-blog-cardbox {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        align-items: center;

        width: 0%;
        margin-left: 50px;
        font-size: 20px;

    }

}



/* Latest Section End ****** */


/* footer Start */

footer {
    background-color: black;
    height: 200px;
}

footer h1 {
    color: #D1D1D1;
    text-align: center;
    padding-top: 20px;
}

.line {
    margin-bottom: 3%;
}

.footer-end a {
    text-decoration: none;
    padding-left: 100px;

    color: gray;
    margin-top: 30px;
}

.footer-icon {
    color: gray;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    font-size: 20px;
}

/* small device */
@media (max-width: 480px) {
    footer {
        width: 100%;

        height: 500px;
    }

    .footer-end a {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;


    }

}

@media (min-width: 481px) and (max-width: 767px) {
    footer {
        width: 100%;
        height: 500px;
    }

    .footer-end a {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;


    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    footer {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 500px;
    }

    .footer-end a {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;


    }

}

/* footer End */