@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');


body {
    background-color: white;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.header-container {
    width: 870px;
    margin: 0 auto;
    background-color: black;
    padding: 30px 30px;
    border-radius: 10px;
    display: flex;
    color: white;
    text-align: justify;
}

.header h1 {
    font-size: 40px;
    line-height: 25px;

}

.header-section {
    margin-top: 36px;

}

.header {
    margin-left: 40px;
}

.header button {
    border: 0;
    background-color: red;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
}

.fa-arrow-right {
    padding-left: 0.25ch;
}

/* Latest Course Start****** */


.latest-blog-section {
    width: 100%;

    margin-top: 36px;
    margin-bottom: 30px;
}

.latest-blog-container {
    width: 870px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px 30px;
    border-radius: 5px;
}

.latest-blog {

    display: flex;
    justify-content: center;
    gap: 24px;

}

.menu-container {
    width: 270px;
    height: 245px;
    background: #161616;
    border-radius: 10px;
    display: flex;
    padding: 10px 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    gap: 20px;
}
.menu-btn {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 205px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #161616;
}
.menu-btn.special-btn {
    color: #FFFFFF;
    background: #DD0000;
}




.latest-blog-title h3 {
    font-size: 10px;
    font-weight: 700;
    color: #562EFF;
}

.latest-blog-cardbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    margin-right: 20px;

}

.latest-match{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5x;
}
.latest-blog-card-inner .latest-match img{
    width: 130px;
    height: 60px;

}
.latest-blog-card-inner .latest-match p{
    font-size: 20px;
    font-weight: 700;
    color: #161616;
}
.latest-blog-card-inner h3{
    text-align: center;
}
.latest-blog-card-inner h6{
    text-align: center;
    color: gray;
}

.latest-blog-cardbox img {
    width: 40px;
    height: 40px;
   padding-right: 10px;
   margin-left: 5px;
    

}

.latest-blog-card-inner {
    height: 180px;
    
    padding: 10px 0 20px 10px;
    border: 1px solid gainsboro;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 13px 13px 16px #f7f7f7,
        -13px -13px 16px #ffffff;

}

.latest-blog-card-inner img {
    Width: 234px;
    Height: 114px;
}

.latest-blog-card-inner h1 {
    font-size: 20px;
    font-weight: 500;
}

.latest-blog-card-inner p {
    font-size: 14px;
    font-weight: 400;
    color: #ED6B4F;
    margin-bottom: 20px;
}














/* Latest Course End ****** */


/* footer */

footer {
    background-color: black;
    height: 200px;
}

footer h1 {
    color: #D1D1D1;
    text-align: center;
    padding-top: 20px;
}

.line {
    margin-bottom: 3%;
}

.footer-end a {
    text-decoration: none;
    padding-left: 100px;
    color: gray;
    margin-top: 30px;
}
.footer-icon {
    color: gray;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    font-size: 20px;
}